
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/


*.log
*.index
*.xml
history/
LocalHistory/

bin/
obj/
Debug/
Release/
*.elf
*.bin
*.map
*.o
*.d
*.su
*.xmi
.settings/
.project
.cproject

.vs/
*.user
*.suo